{
    "presets": [
        [
            "minify",
            {
                "typeConstructors": {
                    "string": false
                },
                "evaluate": true,
                "infinity": false
            }
        ]
    ],
    "comments": false
}