{
    "presets": [
        [
            "minify",
            {
                "typeConstructors": {
                    "string": false
                },
                "evaluate": true,
                "infinity": false,
                "mangle": {
                    "topLevel": true
                }
            }
        ]
    ],
    "comments": false
}